<tr
  class="hover:bg-base-200 cursor-pointer"
  hx-get="/modal/media/{{ item.id }}/edit"
  hx-target="#modal-container"
>
  <td class="font-medium">{{ item.name }}</td>
  <td>
    {% if item.type_str != "undefined" %}{{ item.type_str }}{% else %}-{% endif
    %}
  </td>
  <td>
    {% if item.country_str != "undefined" %}{{ item.country_str }}{% else %}-{%
    endif %}
  </td>
  <td>
    {% if item.rating and item.rating != "n/a" %}{{ item.rating }}{% else %}-{%
    endif %}
  </td>
  <td class="text-right">
    <span class="text-base-content/40 text-sm">edit</span>
  </td>
</tr>
