<div
  class="group-container bg-base-200 rounded-lg p-4"
  data-group-idx="{{ group_idx }}"
>
  <div class="flex gap-2 mb-3">
    <input
      type="text"
      name="groups[{{ group_idx }}][name]"
      class="input input-bordered input-sm flex-1"
      placeholder="group name (e.g., chest & triceps)"
      value="{{ group.name if group else '' }}"
      required
    />
    <input
      type="number"
      name="groups[{{ group_idx }}][rest_seconds]"
      class="input input-bordered input-sm w-24"
      placeholder="rest (s)"
      value="{{ group.rest_seconds if group else 60 }}"
      required
    />
    <button
      type="button"
      class="btn btn-ghost btn-sm"
      onclick="removeGroup(this)"
    >
      ×
    </button>
  </div>
  <div class="exercises-container space-y-3">
    {% if group %} {% for exercise in group.exercises %} {% set exercise_idx =
    loop.index0 %} {% include "partials/workout_exercise_form.html" %} {% endfor
    %} {% else %} {% set exercise_idx = 0 %} {% set exercise = none %} {%
    include "partials/workout_exercise_form.html" %} {% endif %}
  </div>
  <button
    type="button"
    class="btn btn-ghost btn-xs mt-2"
    onclick="addExercise(this)"
  >
    + add exercise
  </button>
</div>
