<div class="set-row flex gap-2 items-center">
  <span class="text-xs text-base-content/50 w-5 flex-shrink-0"
    >#{{ set_idx + 1 }}</span
  >
  <input
    type="number"
    name="groups[{{ group_idx }}][exercises][{{ exercise_idx }}][sets][{{ set_idx }}][reps]"
    class="input input-bordered input-xs flex-1 min-w-0"
    placeholder="reps"
    value="{{ set.reps if set else '' }}"
    required
  />
  <input
    type="number"
    step="0.5"
    name="groups[{{ group_idx }}][exercises][{{ exercise_idx }}][sets][{{ set_idx }}][weight]"
    class="input input-bordered input-xs flex-1 min-w-0"
    placeholder="weight"
    value="{{ set.weight if set and set.weight else '' }}"
  />
  <button
    type="button"
    class="btn btn-ghost btn-xs flex-shrink-0"
    onclick="removeSet(this)"
  >
    ×
  </button>
</div>
