<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shelf</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/output.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </head>
  <body>
    <div
      id="media-items"
      hx-get="/media-items"
      hx-swap="innerHTML"
      hx-trigger="load"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4"
    />
  </body>
</html>
