{% for item in media_items %}
<div class="card w-full bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{{ item.name }}</h2>
    <div class="text-sm">
      <p><strong>country:</strong> {{ item.country_str }}</p>
      <p><strong>type:</strong> {{ item.type_str }}</p>
      <p><strong>status:</strong> {{ item.status_str }}</p>
      <p><strong>rating:</strong> {{ item.rating }}</p>
    </div>
    {% if item.review %}
    <div class="divider my-1"></div>
    <p class="text-sm italic">{{ item.review }}</p>
    {% endif %}
  </div>
</div>
{% endfor %}
