@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light,
    dark --default;
}

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
}

html {
  font-family: var(--font-josefin);
}

.btn {
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  font-size: 0.875rem;
}
